.slider-container {
    margin: 5% auto;
    max-width: 640px;
    position: relative;
    overflow: hidden;
}

.slider-row {
    display: flex;
    width: 100%;
    height: 500px;
}
.slider-row img {
}
#prevBtn {
    position: absolute;
    left: 2%;
    top: 50%;
    z-index: 100;
    font-size: 30px;
    color: white;
}
#nextBtn {
    position: absolute;
    right: 2%;
    top: 50%;
    z-index: 100;
    font-size: 30px;
    color: white;
}